{% load staticfiles %}
<html>
    <head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">


        <title>Personal Blog</title>
    </head>
    <body>
        <div class="page-header">
                {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
                {% endif %}
                <h1><a href="/">Mia Diaries</a></h1>
        </div>
        <div class="content container">
                <div class="row">
                        <div class="col-md-8">
                                {% block content %}
                                {% endblock %}
</div>
</div>
</div>

</body>
</html>
