{% extends 'blog/base.html' %}
{% block content %}
                {% for post in posts %}
    <div class="post">
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <div class="date">
        <p>published: {{ post.published_date }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}

